:root {
   --cor-um: hsl(171, 66%, 44%);
   --cor-dois: hsl(233, 100%, 69%);
   --cor-tres: hsl(210, 10%, 33%);
   --cor-quatro: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header, .container-initial{
    width: 100%;
}

#header, .container-logo{
    width: 150%;

}