:root {
   --cor-um: hsl(171, 66%, 44%);
   --cor-dois: hsl(233, 100%, 69%);
   --cor-tres: hsl(210, 10%, 33%);
   --cor-quatro: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

/*================= Section 1 ===============*/

.card1 {
    width: 100%;
    padding: 0 5%;
}

.backgroud {
    width: 100%;
}

.cardlogo {
    display: flex;
    justify-content: center;
    /*Container para deixar a imagem reposiva 
    - aplicando Display flex */
}
.logo {
    width: 50%;
    margin-block-start: -50%;
}

/*================= DIV Info ===============*/
.info {
    text-align: center;
    margin-top: 30%;
}

h1 {
    font-weight: 600;
    color: var(--cor-tres);
}

.parag1 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= DIV Buttons ===============*/

.btn {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.btn1 {
    cursor: pointer;
    background-color: var(--cor-um);
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-weight: 600;
}

.btn2 {
    cursor: pointer;
    background-color: var(--cor-dois);
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin-top: 5%;
    color: white;
    font-weight: 600;
} 

/*================= Section 2 ===============*/
section.part2 {
    margin-top: 50%;
}

.info2 {
    text-align: center;
}

.parag2 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= DIV Imagens===============*/

.imgdesktop {
    margin-top: 30%;
}

.desktop {
    width: 100%;
}

/*================= DIV Info3 ===============*/

.info3 {
    text-align: center;
    margin-top: 30%;
}

.parag3 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= DIV Info 4 ===============*/

.info4 {
    text-align: center;
    margin-top: 30%;
}

.parag4 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}


/*================= DIV Info 5 ===============*/

.info5 {
    text-align: center;
    margin-top: 30%;
}

.parag5 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= Section 3 ===============*/

section.part3 {
    margin-top: 50%;
}

/*================= DIV Info 6 ===============*/

.info6 {
    text-align: center;
    margin-top: 30%;
}

.parag6 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= Section 4 ===============*/

section.part4 {
    margin-top: 30%;
}

.imgdesktop {
    margin-top: 30%;
}

.desktop-device {
    width: 100%;
}

/*================= Div info 7 ===============*/


.info7 {
    text-align: center;
}

.parag7 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= Div info 8 ===============*/

.info8 {
    margin-top: 30%;
    text-align: center;
}

.parag8 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= Div info 9 ===============*/

.info9 {
    margin-top: 30%;
    text-align: center;
}

.parag9 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= Div info 10 ===============*/

.info10 {
    margin-top: 30%;
    text-align: center;
}

.parag10 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= Section 5 ===============*/

.part5 {
    margin-top: 30%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    padding: 8%;
}


/*================= Section 6 ===============*/

.part6 {
    margin-top: 50%;
    text-align: center;
}

.parag11 {
    font-weight: 400;
    color: var(--cor-quatro);
    margin-top: 10%;
}

/*================= DIV Botão IOS MAC OS ===============*/

.btn {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.btn1 {
    cursor: pointer;
    background-color: var(--cor-um);
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-weight: 600;
}

.btn2 {
    cursor: pointer;
    background-color: var(--cor-dois);
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin-top: 5%;
    color: white;
    font-weight: 600;
} 


/*================= Footer ===============*/

footer {
    background-color:rgba(247, 247, 247, 0.945);
}

.footerlogo {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    /*Container para deixar a imagem reposiva 
    - aplicando Display flex */
}

img.logofooter {
    width: 15%;
    margin-top: 15%;
}
ul {
    margin-top: 10%;
}
a {
    text-decoration: none;
    color: var(--cor-tres);
}

.icons-redes-sociais {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 20%;
}

